body {
  margin: 10px;
}
.box1 {
  width: 600px;
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
}
.box2 {
  width: 600px;
  display: block;
  margin-top: 15px;
  text-align: center;
}
#msg {
  border-radius: 5px;
  border: 2px solid #73ad21;
  padding: 10px;
  padding-left: 20px;
  margin-top: 15px;
  width: 600px;
  height: 800px;
  font-size: 14px;
  text-align: left;
}
.bt1{
  border: 1px solid skyblue;
  background-color: white;
  color: skyblue;

}


