* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  background-color: lightblue;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.container li {
  margin: 0 10px;
  width: 25%;
  list-style: none;
}
div {
  margin: 20px;
  padding: 20px;
}
